
.label {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-text-fill: linear-gradient(to left, wheat, plum);
    -fx-font-family: "Uechi-Gothic";
    -fx-font-size: 40;
}
.label :hover {
    -fx-effect: dropshadow(gaussian, navy, 2, 0.2, 2, 2);
    -fx-translate-y: 3;
}
.label :pressed{
    -fx-translate-y: 2;
}


.text-area {
    -fx-border-color: linear-gradient(to right, wheat, plum);
    -fx-text-fill: linear-gradient(to left, #745e82, #b27b5f);
    -fx-font-family: "Gabriola";
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-width: 2;
    -fx-font-size: 20;
}


.button{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-border-color: linear-gradient(to right, wheat, plum);
    -fx-text-fill: linear-gradient(to right, wheat, plum);
    -fx-background-color: transparent;
    -fx-font-family: "Uechi-Gothic";
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 15px;
    -fx-font-size: 40;
    -fx-border-width: 4;
}
.button:pressed {
    -fx-translate-y: 2;
}
.button:hover {
    -fx-effect: dropshadow(gaussian, plum, 2, 0.2, 2, 2);
}


#reportUp{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-text-fill: linear-gradient(to left, wheat, plum);
    -fx-font-family: "Gabriola";
    -fx-font-size: 30;
}
#reportUp :hover {
    -fx-effect: dropshadow(gaussian, navy, 2, 0.2, 2, 2);
    -fx-translate-y: 3;
}
#reportUp :pressed{
    -fx-translate-y: 2;
}


.AnchorPane{
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}


.text-area{
    -fx-border-color: linear-gradient(to right, wheat, plum);
    -fx-text-fill: linear-gradient(to left, #745e82, #b27b5f);
    -fx-font-family: "Gabriola";
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-width: 2;
    -fx-font-size: 30;
}