/*button*/
.label{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-text-fill: linear-gradient(to right, #BAA19A, #9A746E);
    -fx-background-color: transparent;
    -fx-font-family: "Uechi-Gothic";
    -fx-font-size: 120;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 15px;
    -fx-border-width: 4;
}
.label:pressed {
    -fx-translate-y: 2;
}
.label:hover
{
    -fx-effect: dropshadow(gaussian, plum, 2, 0.2, 2, 2);
}
#ErienneLabel{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-text-fill: linear-gradient(to right, #BAA19A, #9A746E);
    -fx-background-color: transparent;
    -fx-font-family: "Uechi-Gothic";
    -fx-font-size: 200;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 15px;
    -fx-border-width: 4;
}
#ErienneLabel:pressed{
    -fx-translate-y: 2;
}
#ErienneLabel:hover{
    -fx-effect: dropshadow(gaussian, blueviolet, 2, 0.2, 2, 2);

}
