.button {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-text-fill: whitesmoke;
    -fx-background-color: linear-gradient(to right, thistle,  #BAA19A);
    -fx-font-family: "Uechi-Gothic";
    -fx-background-radius: 25;
    -fx-border-width: 4;
    -fx-font-size: 40;

}
.button :pressed {
    -fx-translate-y: 2;
    -fx-scale-z: 2;
    -fx-font-size: 40;

}
.button:hover {
    -fx-effect: dropshadow(gaussian, plum, 2, 0.2, 2, 2);
    -fx-font-size: 40;

}