.button {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-border-color: linear-gradient(to right, wheat,  #b27b5f);
    -fx-text-fill: linear-gradient(to right, wheat,  #b27b5f);
    -fx-background-color: transparent;
    -fx-font-family: "Uechi-Gothic";
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 15px;
    -fx-border-width: 4;
    -fx-font-size: 55;

}
.button :pressed {
    -fx-translate-y: 2;
    -fx-scale-z: 2;
    -fx-font-size: 65;

}
.button:hover {
    -fx-effect: dropshadow(gaussian, plum, 2, 0.2, 2, 2);
    -fx-font-size: 65;

}


.label {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-text-fill: linear-gradient(to right, wheat, #b27b5f);
    -fx-font-family: "Uechi-Gothic";
}
.label :hover {
    -fx-effect: dropshadow(gaussian, thistle, 2, 0.2, 2, 2);
    -fx-translate-y: 3;
}


.check-box {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-text-fill: linear-gradient(to right, wheat, #745e82);
    -fx-font-family: "Uechi-Gothic";
    -fx-font-size: 65;
}
.check-box .box{
    -fx-border-color: linear-gradient(to right, wheat, #b27b5f);
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-font-size: 65;
}
.check-box :pressed{
    -fx-border-radius: 15px;
    -fx-rotate: 5;
    -fx-font-size: 65;
}
.check-box :hover{
    -fx-effect: dropshadow(gaussian, plum, 2, 0.2, 2, 2);
    -fx-border-radius: 15px;
    -fx-border-width: 4;
    -fx-font-size: 65;
}


.slider .thumb{
    -fx-background-color: linear-gradient(to right, #b27b5f, wheat);
    -fx-border-color: linear-gradient(to right, #b27b5f, wheat);
    -fx-border-radius: 15px;
    -fx-border-width: 4;
}
.slider .thumb :pressed{
    -fx-background-color: transparent;
    -fx-border-color: black;
}